---
layout: default
---

<div class="container-fluid index">
  <div class="row index about">

    <h1 class="header author-header">About me</h1>

    {% if site.author %}
    <h2 class="header">{{ site.author }}</h2>
    {% endif %}

    <div class="col-md-12 main">
      <div class="links">
          {% if site.twitter_username %}<a href="http://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
          {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt fa-2x"></i></a>{% endif %}
          {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
          {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-google-plus fa-2x"></i></a>{% endif %}
          {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
      </div>
    </div>

    {% if site.about %}
    <div class="col-md-12 content-panel content">
      {{ site.about }}
    </div>
    {% endif %}
  </div>
</div>
